__pycache__/
*.pyc
.env
venv/
*.egg-info/
dist/
build/
.pytest_cache/
frontend/node_modules
siteimages/
synthdocs/
deribitdocs/
script.sh 
change.md 
frontend.md 
project.md 
routefrontend.md 
mockfrontend/ 
phase.md 
